*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.header {
    background-color: rgba(68, 71, 71, 0.5);
    grid-area: header;
    text-align: center;
}

.main {
    background-color: rgba(210, 228, 132, 0.5);
    grid-area: main;
    display: grid;
    align-items: flex-end;
    text-align: center;
}

.seidbar {
    background-color: rgba(154, 235, 113, 0.5);
    grid-area: seidbar;
    text-align: center;
}

.footer {
    background-color: rgba(68, 71, 71, 0.5);
    grid-area: footer;
    text-align: center;
    display: grid;
    margin: 5px;
    padding: 5px;
    height: 100%;
    gap: 5px;
}



.content {
    display: grid;
    height: 50vh;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "con_1 con_2"
        "con_3 con_3";

}

.con_1 {
    grid-area: con_1;
    background-color: rgba(252, 198, 23, 0.5);
    text-align: center;
}

.con_2 {
    grid-area: con_2;
    background-color: rgba(252, 198, 23, 0.5);
    text-align: center;
}

.con_3 {
    grid-area: con_3;
    background-color: rgba(252, 198, 23, 0.5);
    text-align: center;
}

.cont_f {
    display: grid;
    grid-template-rows: 1fr;
    height: 10vh;
    grid-gap: 50px;
    grid-template-areas: "foot_1 foot_2 foot_3 foot_4";
    text-align: center;
    width: 100%;
}

.foot_1 {
    grid-area: foot_1;
    background-color: white;
}

.foot_2 {
    grid-area: foot_2;
    background-color: white;
}

.foot_3 {
    grid-area: foot_3;
    background-color: white;
}

.foot_4 {
    grid-area: foot_4;
    background-color: white;
}

@media screen and (min-width: 600px) {
    .footer {
        background-color: rgba(68, 71, 71, 0.5);
        grid-area: footer;
        text-align: center;
        display: grid;
        margin: 5px;
        padding: 5px;
        height: 100%;
        gap: 5px;
    }

    .container {
        display: grid;
        height: 100vh;
        grid-template-rows: 10% 1fr 10%;
        grid-template-areas:
            "header header  header header"
            "main main main seidbar"
            "footer footer footer footer";
    }

}

@media screen and (max-width: 599px) {
    .footer {
        display: none;
    }

    .main {
        height: 33vh;
        display: grid;
    }

    .content {
        height: 100%;
    }

    .seidbar {
        height: 33vh;
    }

    .header {
        height: 33vh;
    }
}